.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 5.938rem;
    padding: 1.438rem 6.188rem 1.688rem 6.25rem;
    background-color: white;
}

.nav-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
}

#nav-item {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#nav-item li:not(:last-child) {
    margin-right: 1rem;
}

#nav-item a {
    text-decoration: none;
    color: black;
}

.logo {
    color: #0290ff;
    font-size: 1.875rem;
}

.books-nav-bar {
    font-size: 0.813rem;
    color: #121212;
}

.cat-nav-bar {
    opacity: 0.5;
    font-size: 0.813rem;
    color: #121212;
}