.progressBar {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-image-slice: 1;
  border: rgb(48, 123, 190);
  background-color: white;
}

.circleCompletion {
  border-radius: 50%;
  background: -webkit-linear-gradient(left top, blue 0%, #f90 100%);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 5px solid transparent;
}

.completionDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.percentageCompletion {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completion-status {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  color: #121212;
}
