
.circleCompletion {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#0290ff, #e8e8e8);
}

.completionDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.percentageCompletion {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completion-status {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  color: #121212;
}
